 <!-- Interface principale -->
<div class="min-h-screen bg-dark text-white font-roboto jarvis-bg">
    <div class="container mx-auto px-4 py-4 max-w-6xl">
        <header class="hidden md:flex items-center justify-between mb-8">
            <div class="flex items-center space-x-4">
                <div class="w-16 h-16 rounded-full bg-primary/20 flex items-center justify-center border border-primary/30">
                    <div class="w-12 h-12 rounded-full bg-primary/40 animate-pulse-slow"></div>
                </div>
                <h1 class="text-3xl font-orbitron text-primary">JARVIS</h1>
            </div>
            <!--div class="text-sm text-gray-400">
                <div id="datetime" class="font-orbitron"></div>
            </div-->
        </header>
        <app-voice-command />
  </div>

</div>